<div class="total-action">
    <p class="sub-total">Subtotal <b class="bold">$239.98</b></p>
    <button type="button"  id="checkout-btn" class="btn btn-warning checkout-btn chevron">Checkout</button>
</div>