<a class="close-cart" href="#"></a>
<h2><span>{{cartItemQty}}</span> Items in Your Cart</h2>
<form class="sort-cart" action="/">
    <select>
        <option>Sort</option>
        <option value="name">Name</option>
        <option value="price">Price</option>
    </select>
</form>