<a class="top-nav wm-logo" href="http://www.walmart.com">Walmart</a>
<form class="top-nav" action="/">
    <input type="text" class='search-box' name="search" placeholder="Search" title="Search Walmart.com">
</form>

<ul class="top-nav" id="nav-buttons">
    <li><a href="" class="button"><span class="create">Create</span><span class="txt">a new wishlist</span></a></li>
    <li><a href="" class="button"><span class="signin">Sign In</span><span class="txt">to your account</span></a></li>
    <li><a href="" class="button open-cart"><span class="cart">{{itemCount}} Item{{pluralize itemCount}}</span><span class="txt">in your cart</span></a></li>
</ul>