/*** Style Rests ***/
    body, h1, h2, h3, h4,
    p, ul, ol, li, table,
    form, select, option, input {
        margin: 0;
        padding: 0;
    }

/*** Global Styles ***/
    body {
        font: 14px/1.5em 'cartogothic_stdregular', Helvetica, sans-serif;
        color: #888;
        background-color: #BBB;
    }
    .clearfix:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
    }
    header, footer, section, article, aside {
        display: block;
    }
    h1, h2, h3, h4 {
        font-weight: normal;
        color: #444;
    }
    h1, h2 { font-size: 24px; }
    h3 { font-size: 18px; }
    h4 { font-size: 14px; }
    a {
        text-decoration: none;
        color: rgb(46, 151, 195);
    }

/*** Walmart Logo ***/
.wm-logo {
    display: block;
    width: 138px;
    height: 56px;
    margin-top: 5px;
    padding: 0 45px 13px 0;
    font: bold 34px/1.5em 'cartogothic_stdbold', Helvetica, sans-serif;
    letter-spacing: -2px;
    color: rgb(38, 114, 193);
    background: url(../img/wm-spark.png) top right no-repeat;
}
.wm-logo:hover {
    color: rgb(38, 114, 193);
}
/* Walmart Logo in Footer */
.page-footer .mailing-list {
    background: none;
    width: 607px;
    padding-left: 0;
}
.page-footer .wm-logo {
    display: inline-block;
    color: #FFF;
}

/*** Product Styles ***/
    .product-wrapper {
        margin: 0 40px;
    }
    .item-rating, .item-review-links {
        float: left;
        margin: 10px 0;
    }
    .item-review-links {
        margin: 13px 0 6px 8px;
        font-weight: bold;
    }
    .item-price {
        font-size: 24px;
        font-weight: bold;
        color: #333;
    }
    .item-price:before {
        content: "$"
    }
    .item-image {

    }
    .short-desc {
        width: 450px;
        margin: 15px 0 40px;
    }
    /* carousel */
    #slider-code { height: 125px; overflow:hidden; }
    #slider-code .viewport { float: left; width: 240px; height: 125px; overflow: hidden; position: relative; }
    #slider-code .buttons { display: block; margin: 30px 10px 0 0; float: left; }
    #slider-code .next { margin: 30px 0 0 10px;  }
    #slider-code .disable { visibility: hidden; }
    #slider-code .overview { list-style: none; position: absolute; padding: 0; margin: 0; left: 0; top: 0; }
    #slider-code .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 121px; border: 1px solid #dcdcdc; width: 236px;}

/*** Ratings and Reviews ***/
    .rr-heading {
        display: inline-block;
        margin: 40px 40px 0;
    }
    .clear-filters,
    .write-review {
        display: inline-block;
        margin-left: 40%;
        padding: 6px 18px;
        font-size: 15px;
        letter-spacing: 0;
        cursor: pointer;
        border: 1px solid #ddd;
        border-radius: 17px;
        color: #777;
        background-color: #FFF;
        background-image: -webkit-linear-gradient(top, #FFFFFF, #EDEDED);
        background-image: -moz-linear-gradient(top, #FFFFFF, #FAFAFA, #EDEDED);
        background-image: -ms-linear-gradient(top, #FFFFFF, #EDEDED);
    }
    /* Ratings Filters (from TV Finder styles) */
    .ratings-reviews .filters {
        margin: 50px 40px 15px 38px;
    }
    .filters label {
        float: left;
        text-indent: 2px;
    }
    .filters label {
        position: relative;
        margin: 0 .5em;
        border-width: 0;
        font-size: 15px;
        font-weight: bold;
    }
    .filters label:first-child {
        margin-left: 0;
    }
    .filters select {
        width: 100%;
        margin-top: 3px;
        padding-left: 2px;
        border: 1px solid #D2D2D2;
        border-radius: 5px;
        outline: none;
        font-size: 17px;
        line-height: 2em;
        -webkit-appearance: button;
        -webkit-padding-start: .6em;
        -webkit-padding-end: 2.5em;
        background: url(../img/arrow-down-black.png) no-repeat 90% 60%, -webkit-linear-gradient(top, #FFFFFF, #FAFAFA, #EDEDED);
        background-image: -moz-linear-gradient(top, #FFFFFF, #FAFAFA, #EDEDED);
        background-image: -ms-linear-gradient(top, #FFFFFF, #FAFAFA, #EDEDED);
        background-color: #FFF;
        color: #666;
    }
    /* Reviews */
    .review {
        width: 640px;
        margin: 15px auto;
        padding: 20px 0 0 0;
        border: 1px solid #d3d3d3;
        color: #888;
    }
    .review header {
        padding: 0 30px;
        color: #bbb;
    }
    .review footer {
        border-top: 1px solid #d3d3d3;
    }
    .review .title {
        margin-bottom: 3px;
    }
    .review-text {
        margin: 20px 0;
        padding: 0 30px;
    }
    .rating-data,
    .customer-data {
        display: inline-block;
        padding: 30px 30px 25px 30px;
        font-size: 14px;
        font-weight: bold;
        list-style-type: none;
    }
    .rating-data {
        width: 255px;
        border-right: 1px solid #d3d3d3;
    }
    .customer-data {
        width: 255px;
    }
    .rating-data li {
        clear: right;
        line-height: 28px;
    }
    .customer-data li {
        line-height: 28px;
    }
    .customer-data span {
        font-weight: normal;
    }
    .product .rating,
    .product .stars,
    .review .rating,
    .review .stars{
        position: relative;
        width: 100px;
        height: 24px;
        background: url(../img/sprite-icons.png) repeat-x;
    }
    .product .rating,
    .review .rating {
        background-position: 0 -525px;
    }
    .product .stars,
    .review .stars {
        z-index: 2;
        background-position: 0 -471px;
        text-indent: -9999px;
    }
    .rating-data .rating {
        float: right;
    }

