/*** General Layout ***/
    body {
        margin:0;
        font-size: 9px;
        font-family: "Lucida Grande",​Verdana,sans-serif;
        color: #333;
        background-color: #BBB;
    }
    .page {
        width: 1024px;
        margin: 0 auto;
        color: inherit;
        background-color: #FFF;
    }
    .page-header {
        margin-bottom: 20px;
        padding:10px 0 5px;
        border-bottom: 2px solid rgb(234, 234, 234);
        color: inherit;
        background-color: #F2F2F2;
        background-image: -webkit-linear-gradient(top, #F8F8F8, #F0F0F0, #FFFFFF);
        background-image: -moz-linear-gradient(top, #F8F8F8, #F0F0F0, #FFFFFF);
        background-image: -ms-linear-gradient(top, #F8F8F8, #F0F0F0, #FFFFFF);
    }
    .bread-crumbs,
    .search-results {
        padding: 0 20px;
    }
    .page-footer {
        position: relative;
        color: #FFF;
        background-color: rgb(38, 118, 190);
    }
    .clearfix:after {
        visibility: hidden;
        display: block;
        content: "";
        clear: both;
        height: 0;
    }

/*** Resets & Global Styles ***/
    img {
        border: none;
    }
    input {
        border-radius: 7px;
    }
    /* Style the input placeholder text */
    input::-webkit-input-placeholder {
        color: #BBB;
    }
    input::-moz-placeholder {
        color: #666;
    }
    input:-moz-placeholder {
        color: #666;
    }
    input:-ms-input-placeholder {
        color: #666;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: rgb(46, 151, 195);
    }
    a:hover {
        color: #f6772d;
    }

/*** Header & Top Nav ***/
    .top-nav {
        display: block;
        float: left;
        margin-left: 20px;
    }
    .wm-logo {
        display: block;
        width: 180px;
        height: 56px;
        margin-top: 5px;
        color: transparent;
        background: url(../img/sprite-logos.png) no-repeat;
    }
    .wm-logo:hover {
        color: transparent;
    }
    .top-nav .search-box {
        width: 235px;
        height: 35px;
        margin:10px;
        padding: 2px 0;
        font-size: 16px;
        text-indent: 40px;
        border-color: #CCC #CCC #CCC #EEE;
        border-width: 1px;
        background: url(../img/icon-search.png) 10px 10px no-repeat;
        box-shadow: inset 0 1px 3px 1px #BBB;
    }
    ul.top-nav {
        float: right;
        padding-right:5px;
    }
    .top-nav li {
        float: none;
        display: inline-block;
        padding: 15px 30px 20px;
        border: 1px solid #E0E0E0;
        border-width: 0 0 0 1px;
        -webkit-border-image:
            -webkit-gradient(linear, 0 100%, 0 0, from(#FFF), to(#D6D6D6), to(#FFF)) 1 100%;
        -webkit-border-image:
            -webkit-linear-gradient(bottom, #FFF, #D6D6D6, #FFF) 1 100%;
        -moz-border-image:
            -moz-linear-gradient(bottom, #FFF, #D6D6D6, #FFF) 1 100%;
    }
    .top-nav li:first-child {
        border-left-style: none;
        -webkit-border-image: none;
    }
    .top-nav .button {
        display: block;
        font-size: 15px;
        color: #666;
    }
    .top-nav .button:hover {
        color: #f6772d;
    }
    .top-nav .create:before {
        content: url(../img/icon-create.png);
    }
    .top-nav .signin:before {
        content: url(../img/icon-signin.png);
    }
    .top-nav .cart:before {
        content: url(../img/icon-cart.png);
    }
    .top-nav .button .txt {
        display: block;
        font-size: 13px;
        color: #ADB4BD;
    }
    .top-nav .button:hover .txt {
        color: #f6772d;
    }

/*** Breadcrumbs ***/
    .bread-crumbs li {
        float: left;
    }
    .bread-crumbs li:after {
        content: ">";
        padding:0 7px;
    }
    .bread-crumbs li:last-child:after {
        content: "";
    }
    .bread-crumbs .link {
        color: rgb(46, 151, 195);
    }
    .bread-crumbs .link:hover {
        color: #f6772d;
    }
    .bread-crumbs .home {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(../img/icon-home.png) no-repeat;
    }

/*** Filter Controls & Matches ***/
    hgroup {
        width:780px;
        margin: 0 auto;
    }
    hgroup h1,
    hgroup h2 {
        margin: 0;
        font-family: "Lucida Grande", Helvetica, sans-serif;
        font-weight: normal;
        font-size: 40px;
        text-align: center;
    }
    hgroup h2 {
        margin-top: 10px;
        font-size: 20px;
        color: #BBB;
    }
    h2 sup {
        font-size: 45%;
    }
    .sample-products {
        display: block;
        width: 780px;
        margin: 0 auto  65px;
    }
    .controls {
        margin: 25px 0;
    }
    .controls .three-tvs {
        display: block;
        margin: 25px auto;
    }
    .controls fieldset {
        height: 84px;
        margin:0 0 0 50px;
        padding: 0 20px 0 110px;
        border-style: none;
        background: url(../img/sprite-logos.png) -185px 0 no-repeat;
    }
    hr.filters {
        position: relative;
        height: 7px;
        margin-top: 0;
        border-style: solid;
        border-color: #E2E2E2;
        border-width: 2px 0 0 0;
        background-image: -webkit-linear-gradient(top, #CDCDCD, #FFFFFF);
        background-image: -moz-linear-gradient(top, #CDCDCD, #FFFFFF);
        background-image: -ms-linear-gradient(top, #CDCDCD, #FFFFFF);
    }
    hr.filters:before,
    hr.filters:after {
        position: absolute;
        top: -2px;
        z-index: 2;
        width: 200px;
        height: 9px;
        content: "";
    }
    hr.filters:before {
        background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
        background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
        background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    }
    hr.filters:after {
        right: 0;
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    }
    /* Legend is for OSO and assistive technologies - it doesn't show on-screen */
    .controls legend {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .size-slider,
    .filters label {
        float: left;
        text-indent: 2px;
    }
    .size-slider {
        width: 315px;
        height: 59px;
        padding: 0 30px 25px;
        font-size: 15px;
        font-weight: bold;
    }
    .size-slider,
    .filters .options {
        border-style: solid;
        border-width: 0 0 0 1px;
        border-color: #E2E2E2;
        -webkit-border-image:
            -webkit-gradient(linear, 0 100%, 0 0, from(#DDD), to(#FFF)) 1 100%;
        -webkit-border-image:
            -webkit-linear-gradient(bottom, #DDD, #FFF) 1 100%;
        -moz-border-image:
            -moz-linear-gradient(bottom, #DDD, #FFF) 1 100%;
    }

    /* Over-ride jQuery Slider styles */

    .size-slider .ui-corner-all {
        border-radius: 7px;
    }
    .size-slider .ui-slider-horizontal {
        margin-top: 15px;
        border-style: none;
        background-image: -webkit-linear-gradient(top, rgb(165,165,165), rgb(246, 246, 246));
        background-image: -moz-linear-gradient(top, rgb(165,165,165), rgb(246, 246, 246));
        background-image: -ms-linear-gradient(top,  rgb(165,165,165), rgb(246, 246, 246));
    }
    .size-slider .ui-slider-range {
            background-image: -webkit-linear-gradient(top, rgb(255, 196, 98), rgb(225, 175, 68));
            background-image: -moz-linear-gradient(top, rgb(255, 196, 98), rgb(225, 175, 68));
            background-image: -ms-linear-gradient(top, rgb(255, 196, 98), rgb(225, 175, 68));
    }
    #size-slider .ui-slider-handle {
        width: 20px;
        height: 30px;
        top: -.5em;
        border-style: none;
        outline-style: none;
        background: url(../img/slider-handle.png) no-repeat;
    }
    .filters .options {
        float: left;
        height: 59px;
        padding: 0 30px 25px;
    }
    .filters label {
        position: relative;
        margin: 0 .5em;
        border-width: 0;
        font-size: 15px;
        font-weight: bold;
    }
    .filters label:first-child {
        margin-left: 0;
    }
    .filters select {
        width: 100%;
        margin-top: 3px;
        padding-left: 2px;
        border: 1px solid #D2D2D2;
        border-radius: 5px;
        outline: none;
        font-size: 17px;
        line-height: 2em;
        -webkit-appearance: button;
        -webkit-padding-start: .6em;
        -webkit-padding-end: 2.5em;
        background: url(../img/arrow-down-black.png) no-repeat 90% 60%, -webkit-linear-gradient(top, #FFFFFF, #FAFAFA, #EDEDED);
        background-image: -moz-linear-gradient(top, #FFFFFF, #FAFAFA, #EDEDED);
        background-image: -ms-linear-gradient(top, #FFFFFF, #FAFAFA, #EDEDED);
        background-color: #FFF;
        color: #666;
    }
    /* 'Number of matches' message */
    .bread-crumbs,
    .result-msg {
        font-size: 12px;
        font-weight: bold;
        color: #BBB;
    }
    .result-msg {
        display: inline-block;
        margin: 30px 40px 0;
    }
    .matches {
        padding: 10px;
        color: #333;
    }
    .clear-filters {
        display: inline-block;
        margin-left: 40%;
        padding: 6px 18px;
        font-size: 15px;
        letter-spacing: 0;
        cursor: pointer;
        border: 1px solid #ddd;
        border-radius: 17px;
        color: #777;
        background-color: #FFF;
        background-image: -webkit-linear-gradient(top, #FFFFFF, #EDEDED);
        background-image: -moz-linear-gradient(top, #FFFFFF, #FAFAFA, #EDEDED);
        background-image: -ms-linear-gradient(top, #FFFFFF, #EDEDED);
    }

/*** Search Results ***/
    .search-results{
        margin: 0 0 20px 5px;
    }
    .search-results .product{
        float: left;
        width: 190px;
        margin: 0 25px 40px;
    }
    .product .name {
        width: 190px;
        height: 1.3em;
        margin: 5px 0;
        overflow: hidden;
        font-size: 15px;
        font-weight: normal;
    }
    .product .descrip {
        margin: 0;
        width: 190px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 12px;
        color: #CCC;
    }
    .descrip li {
        display: inline-block;
    }
    .product .price {
        margin: 10px 0 0;
        font-size: 24px;
        font-weight: bold;
    }
    .product .price:before {
        content: '$';
    }

/*** Product Rating Stars ***/
.product .rating,
.product .stars{
    position: relative;
    width: 100px;
    height: 24px;
    background: url(../img/sprite-icons.png) repeat-x;
}
.product .rating {
    background-position: 0 -525px;
}
.product .stars{
    z-index: 2;
    background-position: 0 -471px;
    text-indent: -9999px;
}
/*** Footer ***/
    .page-footer .mailing-list {
        width: 420px;
        height: 56px;
        margin: 60px auto;
        padding-left: 200px;
        background: url(../img/wmlogo-blue-bkg.png) top left no-repeat;
    }
    .mailing-list .email {
        width: 315px;
        height: 35px;
        padding: 3px 0 3px 10px;
        font-size: 14px;
        border: 1px solid #666;
        box-shadow: inset 0 1px 3px 1px #BBB;
    }
    .mailing-list .sign-up {
        position: relative;
        left: 10px;
        width: 80px;
        height:40px;
        padding-bottom: 2px;
        font-size: 14px;
        cursor: pointer;
        color: #FFF;
        background-color: rgb(32, 132, 207);
        background-image: -webkit-linear-gradient(top, #2698E8, #1B76BC);
        background-image: -moz-linear-gradient(top, #2698E8, #1B76BC);
        background-image: -ms-linear-gradient(top, #2698E8, #1B76BC);
        border: 1px outset #2698E8;
        border-radius: 5px;
    }
    hr.footer {
        position: relative;
        height: 10px;
        margin: 0 0 35px;
        border-style: none;
        background-image: -webkit-linear-gradient(top, rgb(0, 87, 132), rgb(0, 120, 184));
        background-image: -moz-linear-gradient(top, rgb(0, 87, 132), rgb(0, 120, 184));
        background-image: -ms-linear-gradient(top, rgb(0, 87, 132), rgb(0, 120, 184));
    }
    hr.footer:before,
    hr.footer:after {
        position: absolute;
        z-index: 2;
        width: 200px;
        height: 10px;
        content: "";
    }
    hr.footer:before {
        background: -webkit-linear-gradient(left, rgba(0, 120, 184, 1) 0%,rgba(0, 120, 184, 0) 100%); /* Chrome10+,Safari5.1+ */
        background: -moz-linear-gradient(left, rgba(0, 120, 184, 1) 0%, rgba(0, 120, 184, 0) 100%); /* FF3.6+ */
        background: -ms-linear-gradient(left, rgba(0, 120, 184, 1) 0%,rgba(0, 120, 184, 0) 100%); /* IE10+ */
        background: linear-gradient(to right, rgba(0, 120, 184, 1) 0%,rgba(0, 120, 184, 0) 100%); /* W3C */
    }
    hr.footer:after {
        right: 0;
        background: -moz-linear-gradient(left, rgba(0, 120, 184, 0) 0%, rgba(0, 120, 184, 1) 100%); /* FF3.6+ */
        background: -webkit-linear-gradient(left, rgba(0, 120, 184, 0) 0%,rgba(0, 120, 184, 1) 100%); /* Chrome10+,Safari5.1+ */
        background: -ms-linear-gradient(left, rgba(0, 120, 184, 0) 0%,rgba(0, 120, 184, 1) 100%); /* IE10+ */
        background: linear-gradient(to right, rgba(0, 120, 184, 0) 0%,rgba(0, 120, 184, 1) 100%); /* W3C */
    }
    footer .column {
        float: left;
        padding-left: 50px;
    }
    /* Include h3 column headings for screen readers, but hide them visually */
    footer .column h3 {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    footer .link {
        display: block;
        margin-bottom: 9px;
        font-size: 11px;
        line-height: 1.3em;
        color: rgb(118,183,227);
    }
    footer .link:hover {
        color: #FFF;
    }
    footer aside {
        float: right;
        width: 310px;
    }
    footer aside h3 {
        margin: 5px 0 0;
        font: 25px Helvetica, Sans-serif;
        font-weight: normal;
        color: #FFF;
    }